@import '../../../styles/variables';

.sect {
  padding-top: 155px;
  padding-bottom: 95px;
  display: flex;
}

.inner {
  max-width: 1305px;
  width: 100%;
  margin: auto;
  display: flex;
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 10%;
    left: 15%;
    width: 40%;
    padding-bottom: 40%;
    border-radius: 50%;
    filter: blur(60px);
    z-index: -1;
  }

  &::before {
    background-color: rgba($--color-team-1, .6);
  }

  &::after {
    background-color: rgba($--color-team-2, .6);
  }
}

.question {
  max-width: 233px;
  color: $--color-white50;
  margin: 122px 115px 0 0;
}