@import '../../styles/variables';

.list {
  display: flex;
}

.item {
  width: 12px;
  height: 12px;
  margin-right: 12px;
  display: inline-block;
  background-color: $--color-white10;
  border-radius: 50%;

  &:last-child {
    margin-right: 0;
  }
}

.active {
  background-color: $--color-white;
}