* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p,
h1, h2, h3 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: transparent;
  padding: 0;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
}