@import '../../styles/variables';

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  &__inner {
    width: 100%;
    height: 100%;
    position: relative;

    &-2 {
      .circle {
        opacity: 1;
        width: 15%;
        padding-bottom: 15%;
  
        &__t1 {
          top: 15%;
          left: 15%;
        }
  
        &__t2 {
          top: 5%;
          left: 20%;
        }
      }
    }
  
    &-3 {
      .circle {
        opacity: 0;
        width: 15%;
        top: 40%;
        padding-bottom: 15%;
  
        &__t1 {
          left: 25%;
        }
  
        &__t2 {
          left: 60%;
        }
      }
    }
  
    &-4 {
      .circle {
        opacity: 1;
        width: 10%;
        padding-bottom: 10%;
  
        &__t1 {
          top: 5%;
          left: 65%;
        }
  
        &__t2 {
          top: 10%;
          left: 5%;
        }
      }
    }
  
    &-5 {
      .circle {
        opacity: 1;
        width: 30%;
        padding-bottom: 30%;
        top: 5%;
  
        &__t1 {
          left: 5%;
        }
  
        &__t2 {
          left: 65%;
        }
      }
    }
  
    &-6 {
      .circle {
        opacity: 0;
        width: 15%;
        padding-bottom: 15%;
        top: 15%;
        left: 40%;
      }
    }
  }
}

.sect,
.rewards {
  height: 100vh;
  transition: opacity 1.5s;
  opacity: 0;
}

.rewards {
  overflow-y: auto;
}

.circle {
  position: absolute;
  width: 30%;
  padding-bottom: 30%;
  border-radius: 50%;
  top: 10%;
  left: 35%;
  filter: blur(80px);
  z-index: -1;
  opacity: 0;
  transition: all 1.5s;

  &__t1 {
    background-color: rgba($--color-team-1, .6);
  }

  &__t2 {
    background-color: rgba($--color-team-2, .6);
  }
}

.nav {
  position: sticky;
  top: 75%;
  margin: 0 0 60px 36px;
  transition: opacity .25s;
  max-width: 220px;
  z-index: 10;
}

.rules {
  margin-bottom: 250px;
}

.bottom {
  opacity: 0;
  transition: opacity 2s;
}

.show {
  opacity: 1;
}

.discord {
  margin: 160px 0;
}

.advices {
  margin-bottom: 260px;
}