@import '../../styles/variables';

.container {
  padding-top: 36px;
}

.inner {
  min-height: 380px;
  padding-top: 28px;
  padding-bottom: 36px;
  display: flex;
  border-top: 2px solid $--color-white10;
}

.logo {
  display: inline-block;
  cursor: pointer;
}

.company {
  font-size: 16px;
  margin-top: auto;
  display: flex;
  align-items: center;
  color: #767F8E;

  img {
    margin-right: 24px;
  }
}

.block {
  display: flex;
  flex-flow: column;

  &:nth-child(1) {
    margin-right: 35px;
    align-items: flex-start;
  }

  &:nth-child(2) {
    margin-left: auto;
  }
}

.socials {  
  display: flex;
  align-items: center;
  margin: auto 0 0 auto;
}

.rights {
  font-size: 16px;
  line-height: 140%;
  margin-left: 22px;
  color: #767F8E;
}


@media screen and (max-width: 1600px) {
  .block {
    &:nth-child(1) {
      width: 40%;
    }

    &:nth-child(2) {
      width: 60%;
    }
  }
}